<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <style>


  </style>
</head>
<body>
<div class="booking_link">
  <h2>
    <a class="nav-link" routerLink="availability" style="color: #008080">Check for Availability!</a>
  </h2>
</div>
<div class='card'>
  <div class='container'>
    <h2>
      About
    </h2>
    <p>SleepOver is a business venture that allows Drexel students to rent out air mattresses to host overnight guests in their dormitory. It was started by two students at Drexel, Kartik Mohan and Alwyn Taylor. Our services began during Spring term of 2019. The positive feedback we received from our customers motivated us to continue and expand our services. Together, we aim to provide the maximum comfort at an affordable price!</p>
  </div>
</div>
<div class="card">
  <div class="container">
    <h2>
      Pricing
    </h2>
    <p>1 night: $8<br>2 nights: $7.5/night<br>3 nights and above: $7/night<br>Credit Card, Debit Card, PayPal, and Venmo accepted!</p>
  </div>
</div>
<div class="card">
  <div class="container">
    <h2>
      Contact
    </h2>
    <p>Email: <a href="mailto:sleepover.drexel@gamil.com?">sleepover.drexel@gamil.com</a><br>Instagram: <a href="https://www.instagram.com/sleepover_drexel/">sleepover_drexel</a> </p>
  </div>
</div>
</body>
</html>
